{% extends "blog/base.html" %}
{% block content %}

    {% for post in posts%}


    <article class="media content-section" >
      <div class="media-body">
        <div class="article-metadata">

          <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
        </div>
        <h2 align="middle" ><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>

        <div align="justify" class = "post_body" >
      <p class="article-content">{{ post.first|urlize }}</p>
      <p class="article-content" style="display:none" id="{{post.id}}">{{ post.content|urlize }}</p>
      <p>
      <button class="btn btn-link" align="justify" onclick="showmore({{post.id}})" id="butt{{post.id}}">Devamını Oku...</button>
      </p>




        </div>


      </div>
    </article>

    {% endfor %}

  <script>

      function showmore(a){
          var moreText = document.getElementById(a);
          var y = "butt" + a
          var butty = document.getElementById(y);



          if (moreText.style.display === "none") {
            butty.style.display = "none";
            moreText.style.display = "inline";

          } else {
            moreText.style.display = "none";

            butty.innerHTML = "Devamını Oku...";

          }

  }
  </script>


  <div align='middle'>


    {% if is_paginated %}

      {%if page_obj.has_previous%}
        <a class="btn btn-outline-info mb-4"   href="?page=1">Ilk Sayfa</a>

      {%endif%}

      {% for num in page_obj.paginator.page_range %}

        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4"   href="?page={{ num }}">{{ num }}</a>


        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'+2' %}
          <a class="btn btn-outline-info mb-4"   href="?page={{ num }}">{{ num }}</a>

        {%endif%}
      {% endfor %}

      {% if page_obj.has_next %}

        <a class="btn btn-outline-info mb-4"   href="?page={{ page_obj.paginator.num_pages }}">Son Sayfa</a>
      {% endif %}

    {%endif%}
    </div>


{% endblock content%}
