{% extends "blog/base.html" %}
{% block content %}
    
    <article class="media content-section">
      <div class="media-body">
	  
        <div align="justify" >
      <p class="article-content">Bir kaç yazımı okuduysanız Türkçeyi ne kadar kötü kullandığımı ve yazmakta ne kadar sıkıntı çektiğimi fark etmişsinizdir. Her ne kadar anadilim Türkçe olsa da, maalesef dil ile ilgili bazı sıkıntılarım var. Bence bunun en büyük sebebi okuduğum ve izlediğim hemen hemen her şeyin ingilizce olması.

Okul hayatım boyunca Türkçe ve kompozisyon derslerinden hiç hoşlanmadım. Her ne zaman kompozisyon yazmam gerekiyorsa kalıp cümleler ile başlıyor, bir kaç satırdan sonra da tıkanıyordum. Sonrası boş boş kağıda bakmakla geçiyordu. Başarılı kompozisyon yazan arkadaşlarıma imreniyordum. Onlar sayısal derslerde, ben ise sözellerde zorlanıyordum. 

Okul hayatından sonra  iş ile ilgili ufak tefek notlar almak dışında, neredeyse hiçbir şey yazmamaya başladım. Genel olarak fazla konuşan biri değilimdir. Okuduklarım ve izlediklerim çoğu da İngilizce olunca, Türkçe’m iyice gerilemeye başladı. Kelimeleri bulmakta zorlanıyordum, e-mail yazmak bile işkence gelmeye başlamıştı. 

O dönemlerde kişisel gelişimle ilgilenmeye başladım. Zayıf noktalarımdan bir tanesi kesinlikle yazı diliydi. Daha fazla ertelemeden bir çözüm bulmaya çalıştım. Çok sevdiğim ve yazılarını çok beğendiğim bir arkadaşıma danıştım. O daha önce yaratıcı yazarlık kursuna gitmişti. Onun tavsiyesi üzerine ben de kayıt yaptırdım. 10 hafta boyunca sürecek bir yolculuğa başlıyordum. Sonunda bu eksiğim ile ilgili bi aksiyon almıştım. 

İlk ders tanışma ve bir kaç hikayenin analiziyle başladı. Bize her dersin sonunda bize bir ödev verilecekti. Ertesi hafta yazdıklarımızı sınıfta okuyacak ve geri bildirim alacaktık. İlk hafta ödevi olarak bize bir hikaye verildi. Hikaye üzerinde en az değişiklik yaparak hikayenin ana karakterinin cinsiyetini değiştirecek ve yine anlamlı bir öykü olmasına çalışacaktık. Tahmin edebileceğiniz gibi çok zorlu bir görev değildi. 

İkinci ödevimizde bizden serbest bir öykü yazmamız istendi. Okul döneminde hissettiğim o çaresizlik duygusu geri gelmişti. Boş gözlerle önümdeki beyaz kağıda bakıyordum. Aklıma yazacak hiçbir şey gelmiyordu.  Altı saatin sonunda 600 kelimelik, bir adamın yeşil renge karşı olan obsesyonunu anlatan bir öykü yazmıştım. Yazdığımı hiç beğenmesem de ödevi teslim ettim. Ders saati geldiğinde aşırı derecede stresliydim. Yazdığımı bütün sınıf önünde okuyacaktım ve ne ben, ne de öyküm buna hazır değildi. 

Sıra bana geldiğinde hızlıca hikayemi okudum, bu süre boyunca ellerim titriyordu. İnsanların öykümü beğenmeyeceklerinden ve içtende olsa benimle dalga geçeceklerinden korkuyordum. Öykü bitince geri bildirim kısmı başladı. İnsanlar hikayemi ilginç bulmuştu. Fakat konuları çok genel ele aldığımı ve sanki bir şeyden kaçıyormuşcasına hızlı ilerlediğimi söylediler. Eğitmenin yorumu da, anlatım bozukluklarına daha fazla dikkat etmem yönünde oldu. 

Sınıf arkadaşlarımın yazıları benimkinden çok çok daha iyiydi. Bunun bilincinde olan bilinçaltım, sonraki derslere gitmemek için muhteşem bahaneler üretmeye başladı. Ders saatinden hemen önce uğraşmam gereken, acil işlerim çıkmaya başladı. Böylece dersleri bir kaç hafta kaçırdım. Sonrasında da gitmek iyice anlamsızlaştı ve komple bıraktım. Türkçe dersinden yine sınıfta kalmıştım.

Bir süre sonra tekrar yazmaya başladım. Yazdıklarımı başkasının anlaması oldukça zordu. Yarı Türkçe, yarı İngilizce yazıyordum ve yazılarım bir sürü kısaltma ve terim içeriyordu. Yazılarımı tekrar okuduğumda bazen ben bile ne anlatmak istediğimi anlamıyordum. Yazdıklarım da zaten hikaye veya öykü değil, daha çok öğrendiklerim ve yapmak istediklerim hakkındaki genel notlarımdı.  Fakat önemli bir gelişme kaydetmiş, ne kadar kötü de olsa yazmayı alışkanlık haline getirmiştim. 

Artık daha net ve akıcı yazmam gerekiyordu. Bunu sağlamak için de disiplinli bir şekilde yazmaya devam etmeli fakat daha önce yaptığımdan farklı olarak, yazdıklarımı okuyucuyla buluşturmalıydım. Bir blog sayfası hazırlayacaktım. Her ne kadar blog yazma devri geride kaldıysa bile benim için hala değerliydi çünkü bir kişisel gelişim hedefini temsil ediyordu. 

Ayrıca bir blog sayfası yapmanın bana farklı getirileri de vardı. Öncelikle Feynman tekniğini kullanabilecektim. Yani öğrendiklerimi ve ilgi alanlarımı başkasına anlatarak, hafızamda daha kalıcı hale getirebilecek ve bilgimdeki boşlukları kapatabilecektim. Bir diğer avantaj ise teknolojiyi sevmemden kaynaklanıyordu. 

Wordpress gibi hazır şablon kullanmayacaktım. Apache web sunucusu ve Django ile çalışacaktım. Kendi veritabanımı kuracak ve bir sorgulama dili ile arayüze getirecektim. Güvenli bağlantı sağlamayı öğrenecek, Html, Css ve Javascript pratiğimi artıracaktım. Son olarak bulut sistemini kullanarak siteyi aktif hale getirip, e-mail bağlantısını yapıp projemi bitirecektim. Doğrusunu söylemek gerekirse bunlarla uğraşmak, beni blog yazmaktan daha fazla heyecanlandırıyordu.

Sonuç olarak projenin alt yapısı bitti ve blog artık yayında. Bundan sonra yapmam gereken sadece yazmak. Yazdıkça daha iyi olacağımı umuyorum. Geri bildiriminiz olursa, iletişim kısmını kullanarak bana ulaşabilirsiniz. Kimin söylediğini hatırlamadığım ama aklımda kalan bir söz ile bitireyim.

“Yazıyorum, çünkü iyi yazamıyorum.” </p>
     </div>
      </div>
    </article>
    
 
    {% endblock content%}
