% extends "blog/base.html" %}
{% block content %}
{%load static%}
    <article class="media content-section" >
      <div class="media-body">
	<h2 align="middle" ><a class="article-title"></a></h2>
        
        
        <div align="justify" class = "post_body" >
      		<p class="article-content">1986 yılının 6. ayının 6. günü olan Cuma günü, sabaha karşı 6’da dünyaya gözümü açtım. Orta direk bir ailenin son çocuğuydum. İlkokulu ve ortaokulu yaşadığımız semtteki okullarda okudum. Sonrasında Yeşilköy Anadolu Lisesi’ni kazandım ve bir yılı hazırlık olmak üzere toplam 4 senemi orada geçirdim. 

Ailemden öğrendiğime göre sakin, kendi halinde bir çocukmuşum. Zamanımın çoğunu oyuncaklarımla oynayarak geçirirmişim. Sinirlendiğim nadir zamanların çoğu da ablam yüzündenmiş. Canı sıkılınca bana sataşır, ben de oyuncaklarımı ona fırlatırmışım. Bizim zamanımızdaki çoğu çocuk gibi, benim de fazla oyuncağım yoktu. Üzerine binerek gezdiğim kırmızı bir eşekle saatlerimi geçirirdim. Bir de çeşitli evler, arabalar yaptığım legolarım vardı. 

Oyuncaklarla oynama dönemim 7 yaşlarındayken bilgisayarla tanışınca sona erdi. Artık bütün oyunlarımı içinde Windows 3.1 yüklü olan bilgisayarımda oynuyordum. Efsanevi Prince of Persia, Prehistoric 2 ve Fifa 94 gibi oyunları o zamanlarda oynamaya başladım. Gün geçtikçe daha fazla bilgisayar başında vakit geçiriyordum.

Hayatımdaki ilk dönüm noktalarından biri üniversite sınavından sonra gerçekleşti. Okul ve bölüm tercihlerimi yapmıştım ve yerleştirme sonucunu bekliyordum. İlk tercihim elektronik mühendisliğiydi. Önceki senelerde bölüme girmiş öğrencilerin puanına göre daha yüksek bir puanım olmasından dolayı, kazanacağımı neredeyse garanti olarak görüyordum. Fakat böyle olmadı. 0.007 puan farkla istediğim bölümü kazanamamıştım. Bir sonraki tercihim olan Yıldız Teknik Üniversitesi Makine Mühendisliğine yerleştirildim. 

Her ne kadar sayısal derslerim iyi olsa da Makine Mühendisliği’ni sevmemiştim. Daha o zamanlardan bu alanda çalışmayacağımı biliyordum. Fakat tekrar sınava girmek ve yıl kaybı yaşamak da istemiyordum. Planım okulu hızlıca bitirip, mühendislik temmelli yöneticilik kariyerine geçiş yapmaktı. 

Lisans eğitimimin son yılında, Erasmus programıyla Almanya’ya gittim. İlk yurtdışı tecrübemden oldukça etkilenmiştim. Hayatımın bir kısmını yurtdışında geçirmek istediğime de o zaman karar vermiştim. O dönemde yurtdışı master programlarına bakmaya başladım. Yöneticilik kariyeri düşündüğüm için de, işletme programlarına bakıyordum.

Amerika’da başvurduğum okullardan birinden şartlı kabul aldım. İstedikleri bazı sınavları verdiğim takdirde, bir sonraki yıl başlayabilecektim. Okulun başlamasına daha 9 ay olduğu için askerlik hizmetini aradan çıkarmaya karar verdim. Tecilimi bozdurdum ve 331. kısa dönem olarak orduya katıldım. 

Askerden döndüğümde iki problemle karşı karşıyaydım. Birincisi Toefl'dan 82 almıştım fakat okul 90 üzeri bir puan istiyordu. Daha önemli olan diğeri ise Amerika’da okuyacak ekonomik durumumun olmamasıydı. Okullar çok pahalıydı ve ailemin bu masrafı karşılayacak gücü yoktu. Fakat ben ne olursa olsun Amerika’da bir süre zaman geçirmek istiyordum. Bu yüzden risk almaya karar verdim.

Planım basitti. Cebimdeki para beni 6 ay idare edebilirdi. Bu zaman diliminde iş arayacaktım ve bulabilirsem geçimimi bu şekilde sağlayacaktım, bulamazsam ülkeme geri dönecektim.Amerikaya gidişimin ilk ayında Toefl'dan 91 aldım. Sonrasında şansım yaver gitti ve bir alışveriş merkezinde satış işi buldum. Okulum bitinceye kadar da aynı şirkette farklı pozisyonlarda çalıştım. 

Artık okulu bitirmiştim ve iş hayatına geçiş yapmam gerekiyordu. Türkiye’ye dönmeye ve hayatıma burada devam etmeye karar verdim. Dönüşümün üzerinden daha bir ay geçmeden, uluslararası bir şirketten MT-İş Analisti pozisyonu için teklif aldım. Kariyerimi yönetici olarak sürdürmek istediğim için, yönetime yakın bu pozisyonda çalışmak iyi bir başlangıç olacaktı. Teklifi kabul ettim.

Dört sene boyunca şirket içinde farklı projelerde yer aldım. Bana bağlı iki departmanın rutin işleri dışında yeni projeler geliştirip, uygulamaya geçiş süreclerini yönetiyordum. Proje ne olursa olsun bir şekilde IT ile bağlantısı oluyordu. O dönemde programlama öğrenmenin kariyerimi daha da ileriye taşıyabileceğine karar verdim. Çoğu şirkette olduğu gibi bizde de Excel kullanımı yoğundu. Bu yüzden Excel üzerinde çalışan VBA ile programlama öğrenmeye başladım. Kısa bir süre içinde hazırladığımız bir çok raporu otomatize etmiştim. Daha önce 3-4 gün süren işler, artık 4-5 dakikada bitiyordu ve en önemlisi raporlar hatasız çıkıyordu. 

4 yıllık serüvenin ardından kariyerimde ve hayatımda yeni bir başlangıca ihtiyaç duyuyordum. O dönemde, kendimi sandığım kadar fazla tanımadığımı keşfettim. Çünkü ne yapmak istemediğimi bildiğim halde, ne istediğimi bilmiyordum. Ekonomik olarak kendimi sağlama almış olduğum için, yeniden bir risk almaya karar verdim. İşimden ayrıldım. 

Ne yapacağımı, kariyerimin nasıl devam edeceğini henüz bilmiyordum. Planım, hayatta hiç birşey yapmaya zorunlu olmasaydım ne yapacağımı bulmaktı. Fakat dediğim gibi kendimi çok iyi tanımıyordum. Kendimi daha iyi tanımak için tiyatronun iyi bir yol olabileceğine karar verdim ve yaklaşık bir yıl boyunca tiyatro eğitimi aldım. Fakat kariyerimle ilgili henüz net kararlara ulaşabilmiş değildim.  

Bu dönemde izlediğim iki yapım, kariyerimin gidişatını derinden değiştirdi. Bunlardan birincisi Alphago belgeseli, diğeri ise Westworld’dü. Ortak noktaları yapay zeka olan iki yapımdan da oldukça etkilenmiştim ve konuyla ilgili daha fazla araştırma yapmaya başladım. Fakat bilgisayar mühendisi veya istatistikçi olmadığım için teknik detayları anlamakta sıkıntı yaşıyordum. 

Kariyerime bu alanda devam etmek istiyorsam, öğrenmem gereken çok şey vardı. Ayrıca yaşım da böyle bir serüven için ilerlemiş sayılırdı. Yine de merakımın, hayalimin peşinden gitmeye karar verdim. Yeniden üniversite okuyormuş gibi bu alana yöneldim. 

İnternet üzerinden konuyla alakalı bir çok eğitim aldım. Programlama ve İstatistik yeteneklerimi geliştirdim. Projeler üzerinde çalıştım ve genel anlamda konuyla ilgili bilgi birikimimi artırdım. İki yıldan sonra, gönül rahatlığıyla bu konuda iyi bir temel oluşturduğumu söyleyebilirim. Fakat daha öğrenecek çok şeyim var. Hedefim, yarattığım temel üzerine koyarak makine öğrenmesi ve yapay zeka alanlarında araştırmalar ve projeler yaparak, bilime naçizane katkımı vermek. Bu sebeple doktora eğitimime hazırlanıyorum. 

Aynı zamanda kariyerime teknoloji danışmanı ve veri bilimci olarak devam ediyorum. </p>
      		
      
  	</div>


      </div>
    </article>
{% endblock content%}
